{% extends 'navbar/projectnavbar.html'%}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>  </title>

</head>
<body>
{% block body %}
{% if messages %}
{% for message in messages %}
{% if message.tags %}
<script>alert("{{ message.message }}")</script>
{% endif %}
{% endfor %}
{% endif %}
<div class="container1">
    <div class="bodycontainer">
        <h1>Login Page</h1>
        <form method="post" action="{% url 'login1' %}">
             {% csrf_token %}
            <label>Username</label>
            <input type="text" name="username" placeholder="Enter Student ID/Library ID">
            <br><br><label>Password</label>
            <input type="password" name="password">

            <br><br><button type="submit" name="SUBMIT"><a href="{% url 'userhomepage' %}"></a>Submit</button>
        </form>
    </div>
</div>
{% endblock %}
</body>
</html>